
body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
.container{
margin-top: 21px;
}
.atas{
    
}
.menu{
    color: honeydew;
}
.menuu{ /*pengaturan menu atas semua(kotak)*/
    width: 100%;
    height: 50px;
    color: white;
    background: midnightblue;
    position: fixed;
    margin-top: -22px;
}

.menuu h2{
    float: left;
    margin-top: 0px;
    padding: 10px;
    font-style: italic;
    font-weight: normal;
}
.menu ul{
    float: right;
    font-family: sans-serif;
}
.menuu ul li{
    float: left;
    list-style: none; /* ben gak onok titik e */
    min-width: 150px;
    height: 20px;
    margin-top: -5px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 3px 20px;
}    

.gambaratas img{
    width: 100%;
    height: 500px;
    margin-top: -200px;
}

.menu .judul h5{
    color: black;
    background: rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: bold;
    margin-top: -3px;
    padding: 10px 20px; 
    border-bottom: 1px solid grey;

}

.search{
    padding: 20px;
    background-color:  midnightblue;
    text-align: center;
    margin-top: -7px;
}

.search input[type="text"]{
    padding: 2px;
    height: 10x;
    width: 35%;

}
.search button{
    height: 10x;
    width: 10%;
    padding: 3px;
}
.about p{
    color: #666666;
    word-spacing: 3px;
    line-height: 25px;
    text-align: center;
    margin: 60px;
}
h1{
    text-align: center;
    padding: 10px;

}
.box .boxes{
    width: 23%;
    padding-bottom: 80px;
    box-sizing: border-box;
    border: 1px solid #d8d6d6;
    text-align: center;
    float: left;
    margin: 13px;

}
.gambar1{
    width: 99%;
    height: 180px;
}
img{
    width: 101%;
    height: 180px;
    margin: 0px;
}
.box .boxes h3{
    margin: 18px 0;
}
.gallery {
    margin: 100px;
    padding: 30px;
}
.gallery img{
    width: 250px;
    padding: 5px;
}


.bawah{
    width: 100%;
    height: 50px;
    color: white;
    background: midnightblue;
    position:fixed;
    bottom: 0;
    margin-bottom: 0px;
    margin-top: -22px;
}
.bawah h5{
    text-align: center;
}